body {
  margin: 0;
padding: 0;
overflow: hidden;
}

#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("/roses2.jpg");
  background-size: cover;
  overflow: hidden;
  box-shadow: inset 3px 15px 50px black;
}

h2, h3 {
  pointer-events: none;
  user-select: none;
  margin: 0
}

.headerBox {
  backdrop-filter: blur(3px);
  width: 300px;
  margin: 3rem auto;
  padding: 0 3rem 3rem;
  border-radius: 50%;
  box-shadow: 3px 15px 50px black;
}

h2 {
  padding: 3rem 0 0;
}

h3 {
  padding: 0;
}

.btnBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 0;
}

.btn {
  position: absolute;
  cursor: pointer;
  padding: .3rem .8rem;
  backdrop-filter: blur(3px);
  width: 80px;
}

.yesBtn {
  margin-top: -2rem;
}

.yesBtn:link {
    text-decoration: inherit;
    color: white;
    cursor: pointer;
}

.noBtn {
  transition: 0.5s;
  cursor: pointer;
}

.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 5%;
} 

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}
